[submodule "visua-dev"]
	path = visua-dev
	url = git@github.com:Exanis/visua-dev.git
[submodule "visua-api"]
	path = visua-api
	url = git@github.com:Exanis/visua-api.git
[submodule "visua-frontend"]
	path = visua-frontend
	url = git@github.com:Exanis/visua-frontend.git
[submodule "visua-runner"]
	path = visua-runner
	url = git@github.com:Exanis/visua-runner.git
